@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

img{
  max-width: 300px
}

a:hover{
  text-decoration: none;
}

a{
  color:#4D9DE0;
}

body{
  font-family: "Roboto", sans-serif;
  font-weight:400;
  position: relative;
}

.main{
  margin-top:30px;
}

.main p{
  font-size: 20px;
}

hr{
  margin:60px 0px;
}

.space{
  margin-top:30px;
}

h1{
  font-size:55px
}

h2{
  font-size: 36px;
}

li{
  font-size:16px
}

/*---------------  navbar  ---------------*/
header .navbar{
  padding:15px 0;
  border-color: transparent;
  transition: all .5s ease-out;
}

header .navbar-default{
  background-color: transparent;
}

header .navbar-default .navbar-nav a{
  color:#4D9DE0;
  /*padding:5px 8px;*/
}

header .navbar-default .navbar-nav a:hover{
color:#3973A3;
}

header .navbar-default .navbar-nav .active a{
  font-weight:700;
  background-color: transparent;

}

header .navbar-default .navbar-nav .active a:hover{
  font-weight:700;
  background-color: transparent;
  color:#3973A3;
}

header .navbar-default .navbar-nav .active a:focus{
  background-color:transparent;
}

.navbar-toggle{
  float:left;
  margin-left:15px;
  margin-top:0;
}

.navbar-default .navbar-toggle{
  border-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar{
  background-color:#4D9DE0;

}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
  background-color:#BEDBF3;
}

/*--------------- nav in body ---------------*/

header .inbody{
  background: white;
  border-color: #eee;
}

header .navbar.inbody{
  padding:5px;
}
header .inbody .navbar-toggle{
  margin:3px 0;
}

/*--------------- carousel ---------------*/
.carousel.fade{
  opacity:1;
}
.carousel.fade .item{
  transition: opacity ease-out .7s;
  left: 0;
  opacity: 0;
  top: 0;
  position: absolute;
  width:100%;
  display: block;
}

.carousel.fade .item:first-child {
  top: auto;
  opacity: 1;
  position: relative;
}

.carousel.fade .item.active{
  opacity:1;
}

#featured .item{
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center center;
  width:100%;
  height:100%;
}

.carousel-caption{
  top:70px;
  text-shadow: none;
  color:#4D9DE0;
}

/*---------------   about    ---------------*/
.skills img{
  width:100px;
  margin-top:60px;
}

#Experiences img{
  width:100px;
}

#Experiences .space{
  margin-bottom:30pxk
}
.words{
  background-color:#eee;
  margin:0px;
  margin-top:50px;
  margin-bottom:-60px;
  width:100%;
}

#design{
  transition: all .5s ease-out;
}

#code{
  transition: all .5s ease-out;
}

#analyze{
  transition: all .5s ease-out;
}

.fa {
  font-size:25px;
}

.tools .item{
  margin:60px 0;
}

.tools img{
  width:50px
}



/*---------------  portfolio  ---------------*/
#portfolio{
  padding:0;
}

#bid{
  background-image: url('../img/4bid.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#swapp{
  background-image: url('../img/swapp.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#jli{
  background-image: url('../img/jli.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#tank{
  background-image: url('../img/tank.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

blockquote{
  min-height:400px !important;
  border-left: 3px solid white;
  border-right: 3px solid white;
  padding: 0px
}

.footer .fa {
  font-size: 45px !important;
  margin:20px;
  color: #4D9DE0;
}

.outter{
  display: table;
  min-height:400px;
  width: 100%;
}

.middle{
  display: table-cell;
  vertical-align: middle;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(255, 255, 255,0.7);
}

blockquote:hover .overlay {
  opacity: 1;
}

blockquote:hover .intro {
  opacity: 0;
}

.intro {
  color: #4D9DE0;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.quote .fa{
  font-size: 40px
}
/*---------------    modals     ----------------*/
.modal-dialog {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.modal-content {
  height: auto;
  min-height: 100%;
  border-radius: 0;
}

.modal-content p{
  font-size:16px;
  margin:15px
}
.modal-content h3{

  margin-top:30px
}

.modal{
  padding:20px !important;
}

.close{
  margin:30px;
  font-size:22px;
  position:fixed;
  left:90%;
  z-index: 110;
}

@media (max-width:480px) {
  .close{
    left:85%
  }
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.carousel-control.left {
  background-image:none;
}
.carousel-control.right {
  background-image:none;
}
